.nbs-logo {
  position: absolute;
  top: 0px;
  left: 0px;
}

.back-button {
  margin-top: 50px;
}

.postpic {
  width: 250px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.add-text {
  width: 550px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-blog {
  width: 550px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.comment-section {
  width: 550px;
  height: 300px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-tag-blog {
  width: 550px;
  background-color: lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

.post-tag-section {
  margin-left: 20px;
  width: 380px;
}

.plus-pic {
  width: 40px;
  height: 35px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.last-text {
  height: 50px;
}

.publish-btn,.add-post-publish {
  text-align: center;
  color: white;
  width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
}
